Source: selenium-server
Section: devel
Priority: optional
Maintainer: Vítězslav Dvořák <info@vitexsoftware.cz>
Build-Depends: debhelper (>= 9), curl, devscripts, default-jdk-headless
Standards-Version: 3.9.8
Homepage: http://www.seleniumhq.org/
Vcs-Git: https://github.com/SeleniumHQ/selenium.git
Vcs-Browser: https://github.com/SeleniumHQ/selenium.git

Package: selenium-server
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, default-jre-headless, daemon, net-tools
Description: It is for automating web applications for testing purposes
 portable software-testing framework for web applications. Selenium provides 
 a record/playback tool for authoring tests without the need to learn a test 
 scripting language (Selenium IDE). It also provides a test domain-specific 
 language (Selenese) to write tests in a number of popular programming 
 languages, including C#, Groovy, Java, Perl, PHP, Python, Ruby and Scala. 
 The tests can then run against most modern web browsers. 

Package: selenium-chromedriver
Architecture: all
Suggests: php-codeception
Depends: ${shlibs:Depends}, ${misc:Depends}, selenium-server,xvfb,chromedriver
Description: Open source tool for automated testing using chrome WebDriver
 Provide capabilities for navigating to web pages, user input, JavaScript 
 execution, and more.  ChromeDriver is a standalone server which implements 
 WebDriver's wire protocol for Chromium. ChromeDriver is available for Chrome 
 on Android and Chrome on Desktop (Mac, Linux, Windows and ChromeOS).  

